html * {
  font-family: 'IBM Plex Sans', sans-serif; 
  background: black;
  color: white;
}

body {
  padding: 2vh;
}

p {
  width: 900px;
  align: center;
}

li a {
  border: solid;
  border-color: indianred;
  border-width: thin;
}

li {
  list-style-type: none;
  padding: 20px;
}
p a {
  border: solid;
  border-color: indianred;
  border-width: thin;
}

pre {
  width: 900px;
  border: solid;
  border-color: grey;
  border-width: thin;
}

code {
  font-family: "IBM Plex Mono", monospace; 
  font-size: 1em;
}

#outermost-div {
  padding: 40px;
}

::selection {
  color: black;
  background: white;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
  background: white;
}

.navbar-ul {
	list-style-type: none;
	overflow: hidden;
	font-size: 64px;
	font-weight: bold;
	display: grid;
	margin: 0;
	padding: 0;
	grid-template-columns: auto auto auto;
	column-gap: 10px;
}

.navbar-li {
	justify-self: center;
}

.navbar-a {
	display: block;
}

.selected {
  color: gray;
}
