<html>
  <head>
    <meta charset="utf-8">
    <title>
      A93
    </title>
    <link rel="stylesheet" href="css/a93.css"> 
  </head>
  <body>
    <div id="outermost-div">
      <div id="navbar">
        <div id="navbar-width">
          <ul class="navbar-ul">
            <li class="navbar-li"><a href="#">write-ups</a></li>
            <li class="navbar-li"><a href="#">projects</a></li>
            <li class="navbar-li"><a href="#">contact</a></li>
          </ul>
        </div>
      </div>
      <div class="center-grid">
        <div class="posts-list">
          <ul>
            <% post_links.each do |link| %>
              <%= link.strip %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
