<html>
  <%= @head_partial %>
  <body>
    <div id="outermost-div">
      <%= @navbar_partial %>
      <div class="center-grid">
        <div class="posts-list">
          <ul>
            <% @gl&.each do |link| %>
              <li><%= link.strip %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
