<html>
  <%= @head_partial %>
  <body>
    <div id="outermost-dev"> 
      <%= @navbar_partial %>
      <div id="paragraph-body">
        <%= @post_body %>
      </div> 
    </div>
  </body>
</html>

