<html>
  <%= @head_partial %>
  <body>
    <div id="outermost-div">
      <%= @navbar_partial %>
      <div class="center-grid">
        <div class="posts-list">
          <ul>
            <li><strong>2021</strong>
              <ul>
                <li>[The Well-Grounded Rubyist, Third Edition](https://learning.oreilly.com/library/view/the-well-grounded-rubyist/9781617295218/)</li>
              </ul>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
