<html>
  <%= @head_partial %>
  <body>
    <div id="outermost-div">
      <%= @navbar_partial %>
      <div class="center-grid">
        <div class="">
          <ul>
            <li><strong>2021</strong>
              <ul>
                <li><a href="https://learning.oreilly.com/library/view/the-well-grounded-rubyist/9781617295218/">The Well-Grounded Rubyist, Third Edition</a></li>
                <li><a href="https://learning.oreilly.com/library/view/effective-testing-with/9781680502770/">Effective Testing with RSpec 3</a></li>
              </ul>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
